#display_place{
	position: relative;
	left: 800px;
}

.memo{
	float: left;
	width: 250px;
	height: 250px;
	margin-left: 100px;
	background-image: url('./image/circle.png');
	background-repeat: no-repeat;
}